configuration {
    font:               "Droid Sans bold 14";
    cycle:              true;
    hide-scrollbar:     true;
    disable-history:    false;
    fullscreen:         true;
    modi:               "drun";
    show-icons:         true;
}

